
#gdgl{
    height: calc(100vh - 64px) !important;
    padding: 30px 80px;

    .body{
        background: #ffffff;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
        .tj{
            // float: left;
            text-align: left;
            // width: 100%;
            padding: 10px 20px;
            // line-height: 33px;
        }
        .da{
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #4A4A4A;
            line-height: 20px;
        }
       
    }
}

.xjgd{
    .xjgd-body{
        overflow-y:auto;
        height: 460px;
     
    }
    .nr{
        // background-color: antiquewhite;
        width: 50%;
        float: left;
        padding: 6px;
        text-align: left;
        input{
            width: 66%;
        }
        span{
            float: left; 
            width: 100px;
            
        }
        /deep/.ant-calendar-picker{
            width: 66%;
        }
        .dt-rk{
            line-height: 30px;
            color: #2196F3;
            font-size: 16px;
            cursor: pointer;
        }
    }
}

.gdgl{
    height: 100%;
    width: 100%;
    .tab{
        height: 40px;
        width: 100%;
        // background-color: antiquewhite;
        text-align: right;
    }
}

.tjsb-body{
    overflow-y:auto;
    height: 90%;
    .nr{
        // background-color: antiquewhite;
     
        // float: left;
        padding: 6px 0;
        text-align: left;
        input{
            width: 66%;
        }
        span{
            float: left; 
            width: 100px;
            line-height: 30px;
        }
       
    }
    .bot{
        border-bottom: 1px solid #e8e8e8;
        button{
            margin: 0 10px;
        }
    }
}